

/* Meyer Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
    --active-option: #0b57d0;
}

#header{
    display: flex;
    color: #5e5e5e;
    font-size: 12px;
    line-height: 48px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    height: 48px;
}

#header-hamburger{
    padding: 12px 16px;
    position: relative;
    top: -4px;
}

#header-options{
    display: flex;
}

#header-options .active {
    border-bottom: solid 2px var(--active-option);
    color: var(--active-option);
}

#header-options a{
    display: block;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 12px;
    font-weight: 600;
    line-height: 48px;
    margin-right: 8px;
    padding: 0 8px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: -0.15px;
}

.spacer{
    flex: 1 0 auto;
}
#header-user-menu{
    display: flex;
    align-items: center;
    padding-right: 4px;
}

#bento {
    display: inline-block;
    padding: 12px 12px;
}

#bento svg {
    padding-top: 20px;
}

#sign-in {
    height: 40px;
    width: 75px;
    border-radius: 100px;
    background-color: #0b57d0;
    border: none;
    color: #fff;
    margin: 12px 16px 12px 10px;
    font: 14px / 27px Roboto, Arial, sans-serif;
    line-height: 18px;
    white-space: normal;
}

#sign-in span {
    position: relative;
    top: -1.5px;
}

#hero {
margin: 44px 0px 26px;
padding-top: 20px;
}

#logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 56px;
    margin: 0px auto;
    font-weight: 600;
}

#logo span {
    margin-left: -1px;
}

#g {
    color: #4285F4;
}

#o1 {
    color: #EA4335;
}

#o2 {
    color: #FBBC05;
}

#g-l {
    color: #4285F4;
}

#l {
    color: #34A853;
}

#e {
    color: #EA4335;
}

#searchbar {
    display: flex;
    border: 1px solid #dadce0;
    border-radius: 20px;
    justify-content: center;
    height: 37px;
    margin: 8px 16px;
}

#sIcon {
    padding: 0 12px;
    border: none;
    display: flex;
    align-items: center;
}

#searchbar button {
    display: flex;
    align-items: center;
}

#id {
    border: none;
}

#searchbar textarea{
    flex: 1;
}

#searchbar button{
    border: none;
    background-color: transparent;
    padding: 0 12px;
}